<div class="clients-container">
  <div class="clients-content">

    <div class="toolbar">
      <button mat-raised-button color="primary" (click)="addClient()">Add Client</button>

      <mat-paginator
        [length]="totalElements"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5,10,20]"
        (page)="onPageChange($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>

    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="phrase" (input)="onInputChange($event)">
        <button *ngIf="phrase" matSuffix mat-icon-button aria-label="Clear" (click)="phrase=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID</th>
          <td mat-cell *matCellDef="let client"> {{ client.clientId }}</td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First name</th>
          <td mat-cell *matCellDef="let client"> {{ client.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last name</th>
          <td mat-cell *matCellDef="let client"> {{ client.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let client"> {{ client.email }}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let client">
            <button mat-icon-button color="primary" (click)="editClient(client)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteClient(client)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>
