<div class="cars-container">
  <div class="cars-content">

    <div class="toolbar">
      <button mat-raised-button color="primary" (click)="addCar()">Add Car</button>

      <mat-paginator
        [length]="totalElements"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5,10,20, 50]"
        (page)="onPageChange($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>

    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="phrase" (input)="onInputChange($event)">
        <button *ngIf="phrase" matSuffix mat-icon-button aria-label="Clear" (click)="phrase=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID</th>
          <td mat-cell *matCellDef="let car"> {{ car.carId }}</td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef> Brand</th>
          <td mat-cell *matCellDef="let car"> {{ car.brand }}</td>
        </ng-container>

        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef> Model</th>
          <td mat-cell *matCellDef="let car"> {{ car.model }}</td>
        </ng-container>

        <ng-container matColumnDef="costPerDay">
          <th mat-header-cell *matHeaderCellDef> Cost per Day ($)</th>
          <td mat-cell *matCellDef="let car"> {{ car.pricePerDay }}</td>
        </ng-container>
        s
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let car">
           <span *ngIf="car.status == 'AVAILABLE'">
            <mat-icon class="available-icon">check_circle</mat-icon> Available
            <button mat-raised-button class="small-btn green-btn" (click)="rentCar(car)">Rent</button>
            </span>
            <span *ngIf="car.status !== 'AVAILABLE'">
              <mat-icon color="warn">cancel</mat-icon> Rented
              <button mat-flat-button color="warn" class="small-btn" (click)="unrentCar(car)">
                Unrent
              </button>
              <button mat-flat-button color="primary" class="small-btn" (click)="showRentalInfo(car)">
                Details
              </button>
          </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let car">
            <button mat-icon-button color="primary" (click)="editCar(car)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCar(car)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>
